/* Usando variáveis para as principais cores do projeto */
:root {
    --main-color: #FF8A5B;
    --main-color-lighter: #FFC7B0;
    --main-color-darker: #CC6C49;
    --accent-color: #4DB6AC;
    --main-text-color: #333333;
    --main-bg-color: #FFF8F3;
}

/* Reset do CSS para melhor padronização entre os browsers */
* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

/* Muda a cor de todo o texto do body e coloca a fonte do projeto */
body {
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
}

/* Estilizando o topo da página */
header {
    width: 100%;
    height: 60px;

    background-color: var(--main-color);

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1rem;
}

nav {
    background-color: var(--main-color-lighter);
    padding: 0.5rem;
    display: flex;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: var(--main-text-color);
    padding: 0.25rem 1rem;
}

nav a:hover {
    text-decoration: underline;
}

h3 {
    margin: 1rem;
}

article {
    display: flex;
    margin-left: 2rem;
}

section {
    width: 216px;
    margin: 2rem;
    border-radius: 1rem;
    background-color: #FFF;
    padding: 0.5rem;
}

section p {
    font-size: large;
    font-weight: bold;
}

h4 {
    font-weight: 500;
    margin: 1rem 0;
}

footer {
    width: 100%;
    height: 10rem;

    background-color: var(--main-color-lighter);

    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer a {
    color: var(--main-text-color);
    padding: 0.25rem;
}

footer p {
    font-weight: bold;
    margin-top: 1rem;
}

.carrossel {
    width: 100%;
    max-width: 600px;
    height: 200px;
    overflow: hidden;
    margin: auto;
    border-radius: 20px;
    position: relative;
}

.slides {
    display: flex;
    height: 100%;
    transition: transform 0.6s ease-in-out;
}

.slide {
    min-width: 100%;
    height: 100%;
    flex-shrink: 0;
    background-color: var(--accent-color);
    color: #FFF;
    font-size: 1.6rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.promo-div {
    display: flex;
    justify-content: space-between;
}

.promo-old {
    text-decoration: line-through;
}

.promo {
    color: var(--accent-color);
}

button {
    background-color: var(--accent-color);
    color: #FFF;
    margin-top: 1rem;
    border: none;
    width: 100%;
    height: 1.5rem;
    border-radius: 1rem;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
    background-color: var(--main-color-lighter);
}

.cadastro {
    max-width: 450px;
    margin: 2rem auto;
    background: #fff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 0 10px #00000010;
}

.cadastro h3 {
    margin: 1rem 0;
}

.cadastro label {
    margin: 0.5rem 0;
    font-weight: 600;
    display: block;
}

.cadastro input[type="text"],
.cadastro input[type="tel"],
.cadastro input[type="email"],
.cadastro input[type="date"],
.cadastro input[type="time"] {
    width: 100%;
    padding: .8rem;
    border: 1px solid var(--main-text-color);
    border-radius: 8px;
    margin-top: .3rem;
}

.btn-cadastro {
    margin-top: 2rem;
    background: var(--accent-color);
    color:#FFF;
    border: none;
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
}

.servico {
    display: flex;
    justify-content: space-around;
}

.preco {
    font-size: small;
    color: var(--accent-color);
}
