/* Usando variáveis para as principais cores do projeto */
:root {
    --main-color: #FF8A5B;
    --main-color-lighter: #FFC7B0;
    --main-color-darker: #CC6C49;
    --accent-color: #4DB6AC;
    --main-text-color: #333333;
    --main-bg-color: #FFF8F3;
}

/* Reset do CSS para melhor padronização entre os browsers */
* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

/* Muda a cor de todo o texto do body e coloca a fonte do projeto */
body {
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
}

/* Estilizando o topo da página */
header {
    width: 100%;
    height: 60px;

    background-color: var(--main-color);

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1rem;
}

nav {
    background-color: var(--main-color-lighter);
    padding: 0.5rem;
    display: flex;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: var(--main-text-color);
    padding: 0.25rem 1rem;
}

nav a:hover {
    /* color: var(--accent-color); */
    text-decoration: underline;
}

h3 {
    margin-left: 1rem;
}

article {
    display: flex;
    margin-left: 2rem;
}

section {
    margin: 2rem;
    border-radius: 1rem;
    background-color: #FFF;
    padding: 0.5rem;
}

section p {
    font-size: large;
    font-weight: bold;
}

h4 {
    font-weight: 500;
    margin: 1rem 0;
}

footer {
    width: 100%;
    height: 10rem;

    background-color: var(--main-color-lighter);

    padding: 1rem;
    display:flex;
    flex-direction: column;
    align-items: center;
}

footer a {
    color: var(--main-text-color);
    padding: 0.25rem;
}

footer p {
    font-weight: bold;
    margin-top: 1rem;
}